.main-nav
{
    display:  flex;
    justify-content: flex-end;
    margin-right: 2rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    background-color: black;
}

h1 a
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    color: white;
}

li 
{
    margin: 15px;
    border: none;
}

.main-nav a
{
    border-right: none;
}

